* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #16004d,
        #321078
    );

    color: white;

    min-height: 100vh;
}

.navbar {
    height: 75px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 7%;

    background: #10003c;
}

.logo {
    color: white;

    text-decoration: none;

    font-size: 25px;

    font-weight: bold;
}

.logo span {
    color: #0071E3;
}

nav {
    display: flex;

    gap: 12px;
}

nav a {
    color: white;

    text-decoration: none;

    padding: 10px;
}

nav a:hover,
.active {
    color: #0071E3;
}

.login-btn,
.register-btn {
    border: 1px solid #0071E3;

    border-radius: 7px;
}

.register-btn {
    background: #0071E3;

    color: #17002f !important;
}

.menu-btn {
    display: none;

    background: none;

    border: none;

    color: white;

    font-size: 25px;
}

.page {
    padding: 60px 7%;

    min-height: calc(100vh - 135px);
}

.contact-container {
    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 50px;
}

.small-title {
    color: #f28cff;

    letter-spacing: 3px;

    font-weight: bold;
}

.contact-container h1 {
    font-size: 45px;

    margin: 15px 0;
}

.contact-container p {
    line-height: 1.6;

    opacity: 0.85;
}

.contact-info {
    margin-top: 30px;

    line-height: 2;
}

form {
    display: flex;

    flex-direction: column;

    gap: 14px;

    background:
        rgba(255,255,255,0.09);

    padding: 28px;

    border-radius: 12px;
}

input,
textarea {
    font: inherit;

    padding: 14px;

    border: none;

    border-radius: 7px;
}

form button {
    padding: 14px;

    background: #0071E3;

    color: #19002f;

    border: none;

    border-radius: 7px;

    font-weight: bold;

    cursor: pointer;
}

#formMessage {
    min-height: 20px;
}

footer {
    text-align: center;

    padding: 20px;

    background: #0d0032;
}

@media(max-width:800px) {

    nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

}
